app = "flight-monitor"
primary_region = "ord" # o usa la región más cercana a tu servidor backend

[build]
  builder = "paketobuildpacks/builder:base"

[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
